<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :channel_name, 'チャンネル名' %><br />
    <%= f.text_field :channel_name, autofocus: true ,autocomplete:"channel_name"%>
  </div>

  <div class="field">
    <%= f.label :subscribers_num, 'チャンネル登録者数' %><br />
    <%= f.text_field :subscribers_num, autofocus: true,autocomplete:"subscribers_num" %>人
  </div>
  <div class="field">
    <%= f.label :channel_url, 'YouTubeチャンネルURL' %><br />
    <%= f.text_field :channel_url, autofocus: true,autocomplete:"channel_url" %>
  </div>
   <div class="field">
    <%= f.label :twitter_url, 'TwitterURL' %><br />
    <%= f.text_field :twitter_url, autofocus: true,autocomplete:"twitter_url" %>
  </div> 
   <div class="field">
    <%= f.label :what_channel, 'どんなチャンネル？' %><br />
    <%= f.text_area :what_channel, autofocus: true,autocomplete:"what_channel" %>
  </div> 

  <div class="field">
    <%= f.label :email, 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>
