<div class="user-detail-page">
  <div class="user-top-character">
    <% if user_signed_in? && @user.id == current_user.id %>
      <h1>マイページ</h1>
      <p><%= link_to "ユーザー情報を編集する", edit_user_registration_path, method: :get , class: 'edit-user' %></p>
    <% else %>
      <h1><%= @user.channel_name %>さんのページ</h1>
    <% end %>
  </div>
  <table class="user-detail-table">
    <tbody>
      <tr>
        <th class="user-detail">チャンネル名</th>
        <td class="user-info"><%= @user.channel_name %></td>
      </tr>
      <tr>
        <th class="user-detail">YouTubeチャンネルURL</th>
        <td class="user-info"><%= link_to @user.channel_url,@user.channel_url %></td>
      </tr>
      <tr>
        <th class="user-detail">登録時チャンネル登録者数</th>
        <td class="user-info"><%= @user.subscribers_num %>人</td>
      </tr>
      <tr>
        <th class="user-detail">どんなチャンネル？</th>
        <td class="user-info"><%= @user.what_channel %></td>
      </tr>
      <tr>
        <th class="user-detail">TwitterURL</th>
        <td class="user-info"><%= link_to @user.twitter_url,@user.twitter_url %></td>
      </tr>
    </tbody>
  </table>
  <div class="new-video">
    <h1>投稿動画一覧</h1>
    <% if @lists.present? %>
      <ul class='video-lists'>
        <% @lists.each do |list| %>
          <li class="video-list">
            <div class="video-u-p">
              <iframe width="710" height="400" src="https://www.youtube.com/embed/<%= list.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p><%= link_to list.title, post_path(list.id) , class: 'video-title' %></p>
              <% if user_signed_in? && @user.id == current_user.id %>
                <p><%= link_to 'この動画を編集する', edit_post_path(list.id), method: :get, class:'video-edit' %></p>
                <p><%= link_to 'この動画を削除する', post_path(list.id), method: :delete, data: { confirm: 'この動画を削除しますか？' }, class:'video-destroy' %></p>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= paginate @lists %>
    <% else %>
      <p>動画がありません</p>
    <% end %>
  </div>
  <div class="page-move">
    <%= link_to(posts_path, class: 'top-btn') do %>
      <span class='common-btn-text'>＜＜トップページへ</span>
    <% end %>
  </div>
</div>