<div class="sesstion-contents">
  <header class="sesstion-header">
    <h1>投稿者ログインフォーム</h1>
  </header>
  <div class="sesstion-main">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field-sesstion">
        <div class='login-flash-message'>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <div class="field">
          <%= f.label :email,class:"sesstion-label-text" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"sesstion-text" %>
        </div>
        <div class="field">
          <%= f.label :password,class:"sesstion-label-text" %>
          <%= f.password_field :password, autocomplete: "current-password",class:"sesstion-text" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sesstion-page-move">
    <%= link_to(root_path, class: 'sesstion-top-btn') do %>
      <span class='sesstion-common-btn-text'>トップページへ</span>
    <% end %>
    <%= link_to(new_user_registration_path, class: 'sesstion-top-btn') do %>
      <span class='sesstion-common-btn-text'>新規登録ページへ</span>
    <% end %>
  </div>
</div>