<%= render "shared/header" %>
<div class="index-page">
  <div class="image-line">
    <%= image_tag("toppage_image.jpg", class:"top-image")%>
    <p>Let's Shuffle</p>
  </div>
  <ul class='video-lists'>
    <% if @posts.present? %>
    <%# 動画がいっぽんでもあるとき %>
      <% @posts.each do |post| %>
        <li class='list'>
          <div class="video-url">
            <iframe width="710" height="315" src="https://www.youtube.com/embed/<%= post.video_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="channel-name">
            <p><%= link_to "投稿者の詳細はこちら", user_path(post.user_id) , class: 'channel-detail' %></p>
            <p><%= link_to "動画の詳細はこちら", post_path(post.id) , class: 'video-detail' %></p>
          </div>
        </li>
      <% end %>
    <% else %>
    <%# 動画がいっぽんもないとき %>
      <div class="none-video">
        <% if user_signed_in? %>
          <h1>早速動画を投稿しよう！</h1>
        <% else %>
          <h1>動画が投稿されるまでお待ちくださいませ</h1>
        <% end %>
      </div>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <%= link_to(new_post_path, class: 'post-btn') do %>
      <span class='post-btn-text'>投稿する</span>
      <%= image_tag 'icon_post.png' , size: '90x90' ,class: "post-btn-icon" %>
    <% end %>
  <% end %>
  
  <%= link_to(root_path, class: 'shuffle-btn') do %>
    <span class='shuffle-btn-text'>Shuffle</span>
  <% end %>

  <%= render "shared/footer"%>
</div>


