<%= render "shared/header" %>
<div class="index-page">
  <div class="image-line">
    <%= image_tag("toppage_image.jpg", class:"top-image")%>
    <p>Let's Shuffle</p>
  </div>
  <%= form_with( model: @post, method: :get, class: 'shuffle-btn',remote: true) do |f| %>
    <%= f.text_area :text,class:"text", placeholder: "タイトルのキーワードでShuffle", autofocus: true %>
    <%= f.submit "Shuffle",class: 'shuffle-btn-text' %>
  <% end %>
  <ul class='video-lists'>
    <% if @posts.present? %>
    <%# 動画がいっぽんでもあるとき %>
      <div class="post-table posts">
        <%= render 'posts' , posts: @posts %>
      </div>
    <% else %>
    <%# 動画がいっぽんもないとき %>
      <div class="none-video">
        <% if user_signed_in? %>
          <h1>早速動画を投稿しよう！</h1>
        <% else %>
          <h1>動画が投稿されるまでお待ちくださいませ</h1>
        <% end %>
      </div>
    <% end %>
  </ul>
  <% if user_signed_in? %>
    <%= link_to(new_post_path, class: 'post-btn') do %>
      <span class='post-btn-text'>投稿する</span>
      <%= image_tag 'icon_post.png' , size: '50x70' ,class: "post-btn-icon" %>
    <% end %>
  <% end %>

  <%= render "shared/footer"%>
</div>


