<%= render "shared/header" %>
<div class="video-detail-page">
  <div class="video-watch">
    <iframe width="1000" height="500" src="https://www.youtube.com/embed/<%= @post.video_str%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-post">PV数</th>
        <td class="detail-info"><%=  @post.impressionist_count %>回　　※PV数は、ユーザーがページを閲覧した回数です</td>
      </tr>
      <tr>
        <th class="detail-post">動画タイトル</th>
        <td class="detail-info"><%= @post.title %></td>
      </tr>
      <tr>
        <th class="detail-post">動画の見どころ</th>
        <td class="detail-info"><%= @post.highlights %></td>
      </tr>
      <tr>
        <th class="detail-post">動画投稿者</th>
        <td class="detail-info"><%= link_to @post.user.channel_name,@post.user.channel_url %></td>
      </tr>
      <tr>
        <th class="detail-post">YouTubeで見る</th>
        <td class="detail-info"><%= link_to @post.video_url,@post.video_url %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <% if user_signed_in? && @post.user.id == current_user.id %>
    <div class="messages">
      <h2>応援メッセージ一覧</h2>
      <% @messages.each do |message| %>
        <p><%= message.message %></p>
      <% end %>
    </div>
  <% else %>
    <%= form_with(model: [@post, @message], class: "message-form", local: true) do |form| %>
      <%= form.text_area :message, placeholder: "応援メッセージを送る", rows: "2" ,class: "message-area" %>
      <p class="precautionary-statement">※不適切な発言はお控えください</p>
      <%= form.submit "送信", class:"submit-btn" %>
    <% end %>
  <% end %>
</div>
<div class="page-move">
  <%= link_to(posts_path, class: 'top-btn') do %>
    <span class='common-btn-text'>トップページへ</span>
  <% end %>
  <%= link_to(user_path(@post.user_id), class: 'user-btn') do %>
    <span class='common-btn-text'> 投稿者のページへ</span>
  <% end %>
</div>